@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo global para a div principal */
#root {
  @apply max-w-screen-xl mx-auto px-6 py-8 text-center;
}

/* Logo animada */
.logo {
  @apply h-24 p-6 transition duration-300 will-change-auto;
}
.logo:hover {
  filter: drop-shadow(0 0 2em rgba(77, 85, 247, 0.67));
}

/* Animação de rotação */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .logo.spin {
    animation: logo-spin infinite 20s linear;
  }
}

/* Cartão base */
.card {
  @apply p-8 rounded shadow bg-white;
}

/* Texto auxiliar */
.read-the-docs {
  @apply text-gray-500;
}
